@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');


:root{
    --background-color: #FFFFFF;
    --primary-color: #3778FA;
    --font-family: "Space Grotesk", sans-serif;
    --text-muted: #555;
}

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--font-family);
    letter-spacing: 1px;
}

ul li{
    list-style: none;
}

a{
    text-decoration: none;
}

/* HEADER */
.header{
    max-width: 100%;
}

.header .container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 1rem 2rem;
    align-items: center;
}

.header .logo{
    color: var(--primary-color);
    font-size: 1.8rem;
}

.header .menu-mobile button{
    background-color: transparent;
    border: 0;
    font-size: 1.6rem;
}

.header .menu-desktop-left, .menu-desktop-right{
    display: none;
}



/* -------------------------------------- */

/* MAIN */

/* Hero */
.hero{
    max-width: 100%;
}

.hero .hero-content-text{
    text-align: center;
    margin-top: 4rem;
    padding: 0 1.5rem;
}

.hero .hero-content-text h2{
    font-size: 2.6rem;
    margin-bottom: 1rem;
}

.hero .hero-content-text p{
    font-size: 0.9rem;
}

.hero .hero-image{
    max-width: 100%;
    padding: 2rem 1.5rem ;
}

.hero .hero-image img{
    width: 100%;
}

/* Video */
.video{
    max-width: 100%;
    margin-top: 5rem;
}

.video .video-content-text{
    text-align: center;
    padding: 0 1.5rem;
}

.video .video-content-text h3{
    font-size: 1.8rem;
}

.video .video-image{
    max-width: 100%;
    padding: 2rem 1.5rem ; 
}

.video .video-image img{
    width: 100%;
}

/* Choose TalentHive */
.chooseTalentHive{
    max-width: 100%;
    margin-top: 5rem;
}

.chooseTalentHive .chooseTH-content-text{
    text-align: center;
    padding: 0 4rem;
}

.chooseTalentHive .chooseTH-content-text h3{
    font-size: 1.8rem;
}

.chooseTalentHive .chooseTH-box{
    background-color: #F3F3F3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 1.5rem;
    border-radius: 15px;
    padding: 2rem 1rem;
}

.chooseTH .chooseTH-image{
    max-width: 100%;
}

.chooseTH .chooseTH-image img{
    width: 100%;
}

.chooseTH-image-desktop{
    display: none;
}

.coluna-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 2rem;
    gap: 1rem;
    margin-bottom: 3rem;
}

.coluna-cards .card h4{
    font-size: 0.9rem;
}

.coluna-cards .card-open .text-card-open p{
    font-size: 0.65rem;
    color: var(--text-muted);
    width: 75%;
    margin-top: 0.5rem;
}

.coluna-cards .card{
    background-color: var(--background-color);
    border-radius: 10px;
    width: 100%;
}

.text-card, .card-open{
    display: flex;
    justify-content: space-between;
}

.minus-card {
    padding-right: 0.8rem;
    padding-top: 0.1rem;
}

.coluna-cards .card .text-card, .text-card-open{
    padding: 0.8rem 0.8rem;
}

.coluna-cards .card p{
    font-size: 1.2rem;
}


/* -------------------------------------- */

/* FOOTER */
.footer{
    background-color: var(--primary-color);
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    padding: 4.5rem 1.7rem 2rem 1.7rem;
    color: var(--background-color);
    margin-top: 9rem;
}


/* First Section */
.first-footer-section .text-ffs h2{
    width: 70%;
    font-size: 3rem;
    margin-bottom: 1.5rem;
    font-weight: 600;
}

.first-footer-section .text-ffs p{
    width: 75%;
    font-size: 0.9rem;
    margin-bottom: 2rem;
    line-height: 1.5;
    font-weight: 300;
}

.first-footer-section .text-ffs .learn-more{
    font-family: var(--font-family);
    font-size: 1rem;
    margin-bottom: 6rem;
    color: black;
    background-color: var(--background-color);
    border: 0;
    border-radius: 40px;
    padding: 0.9rem 1.5rem;
    font-weight: 600;
}


/* Second Section */


.second-footer-section .sfs-columns{
    margin-top: 6rem;
    display: flex;
    flex-direction: row;
}

.second-footer-section .sfs-columns .col1 {
    width: 65%;
}

.second-footer-section .sfs-columns .col1 h3{
    font-weight: 400;
    font-size: 1.4rem;
    margin-bottom: 1.3rem;
}

.second-footer-section .sfs-columns .col1 p{
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 1.5;
    width: 80%;
}
.second-footer-section .sfs-columns .col2{
    margin-bottom: 5rem;
}
.second-footer-section .sfs-columns ul li{
    margin-bottom: 1.5rem;
}


/* Third Section */
.third-footer-section .column-third-footer{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-top: 2rem;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.third-footer-section .column-third-footer .col1{
    font-weight: 500;
}

.col, .col1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1.4rem;
    margin-bottom: 1rem;
}

.col-desktop, .col1-desktop{
    display: none;
}


/* Fourth Section */

.row-fourth-footer{
    margin-top: 6rem;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 2.5rem;
    font-weight: 300;
    justify-content: center;
}

.row-fourth-footer .row-special{
    padding: 0 2rem;
}

.row-fourth-footer .row span{
    color: #A0DA7A;
}



/* -------------------------------- */

/* TABLET */
@media (min-width: 768px){
    .hero .hero-content-text{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero .hero-content-text p{
        width: 70%;
        margin-bottom: 1.5rem;
    }

    .hero{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hero .hero-image{
        width: 75%;
    }
    .video{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 8rem;
    }

    .video .video-content-text {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .video .video-content-text h3{
        text-align: center;
        font-size: 2.5rem;
        width: 60%;
    }

    .video .video-image{
        width: 75%;
    }

    .chooseTalentHive{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 6rem;
        padding: 3rem 2rem;
    }

    .chooseTalentHive .chooseTH-content-text {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .chooseTalentHive .chooseTH-content-text h3{
        text-align: center;
        font-size: 2.5rem;
        width: 60%;
        margin-bottom: 1rem;
    }

    .chooseTalentHive .chooseTH-box{
        margin: 0;
        display: flex;
        flex-direction: row;
        justify-content: start;
        align-items: start;
    }

    .chooseTH-image{
        display: none;
    }

    .chooseTH-image-desktop{
        display: block;  
        max-width: 100%; 
        padding: 3rem;  
        padding-bottom: 0;
    }

    .chooseTH-image-desktop img{
        width: 100%;
    }

    .chooseTalentHive .chooseTH-box{
        margin: 1rem 2rem 0rem 2rem;
        padding-right: 2rem;
        padding-bottom: 0;
    }

    .coluna-cards{
        display: flex;
        flex-direction: column;
        padding: 0 1rem;
        gap: 2rem;
        height: 100%;
        margin-top: 2rem;
    }
}


/* ------------------------------ */

/* Desktop */
@media (min-width: 1024px){
    .header{
        padding: 0.5rem 2.5rem;
    }

    .header .container{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }
    .menu-mobile{
        display: none;
    }

    .header .menu-desktop-left, .menu-desktop-right{
        display: flex;
    }
    

    .header .menu-desktop-left ul, .header .menu-desktop-right ul{
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 1rem;
    }

    .header .menu-desktop-left ul li a, .header .menu-desktop-right ul li a{
        font-size: 0.95rem;
        color: black;
        transition: all 0.5s ease;
        display: inline-block;
    }

    .header .menu-desktop-left ul li a:hover{
        transform: scale(1.05);
    }

    .header .menu-desktop-right .Start-free{
        background-color: var(--primary-color);
        color: var(--background-color);
        padding: 0.8rem 1rem ;
        border-radius: 25px;
    }

    .header .menu-desktop-right .Start-free:hover{
        background-color: #2350ac;
        transition: all 0.5s ease;
    }

    .hero .hero-content-text h2{
        font-size: 5rem;
        width:55%;
    }

    .hero .hero-content-text p{
        width: 42%;
    }

    .video .video-content-text h3{
        font-size: 4.5rem;
    }

    .chooseTalentHive .chooseTH-content-text h3{
        font-size: 4rem;
    }

    .coluna-cards .card .text-card, .text-card-open{
    padding: 1.5rem 1.5rem;
    }

    .coluna-cards .card .text-card h4, .coluna-cards .card .text-card-open h4{
        font-size: 1.2rem;
    }

    .coluna-cards .card .text-card-open p{
        font-size: 1rem;
    }
    .coluna-cards .card .text-card-open .minus-card{
        font-size: 1.2rem;
        padding: 0;
        display: flex;
        flex-direction: column;
        justify-content: start;
        align-items: start;
        margin: 0;
    }

    .first-footer-section{
        margin-bottom: 8rem;
    }

    .first-footer-section .text-ffs{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    .first-footer-section .text-ffs .title-text-ffs h2{
        font-size: 7rem;
        width: 60%;
        padding-left: 8rem;
        display: flex;
        justify-content: center;
    }

    .first-footer-section .text-ffs .button-and-text-ffs{
        width: 50%;
    }

    .row-fourth-footer{
        flex-direction: row;
        justify-content: space-around;
    }

    .col1-desktop, .col-desktop{
        display: flex;
        flex-direction: column;
        justify-content: center;   
        gap: 2rem;     
    }

    .third-footer-section{
        display: none;
    }

    .second-footer-section .sfs-columns{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 2.5rem;
    }
    
    .second-footer-section .text-sfs{
        margin: 10rem 5rem;
    }

    .sfs-columns .col2 ul   {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .second-footer-section .sfs-columns .col2, .second-footer-section .sfs-columns ul li {
        margin: 0;
    }

    .second-footer-section .sfs-columns .col2{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

     .second-footer-section .sfs-columns .col1{
        width: 20%;
     }

    .second-footer-section .sfs-columns ul{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .second-footer-section .sfs-columns .col1 h3{
    font-weight: 500;
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
}